<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Transport API - Statistics</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="media/css/layout.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    <script>
    $(function () {

        // show loading message
        var loadingIntervalCount = 3;
        var loadingInterval = setInterval(function () {
            loadingIntervalCount = (loadingIntervalCount + 1) % 4;
            var loading = '';
            for (var j = 0; j < 3; j++) {
                if (j < loadingIntervalCount) {
                    loading += '.';
                } else {
                    loading += '&nbsp;';
                }
            }
            $('#statsChartLoadingCount').html(loading);
        }, 300);

        // load data
        $.getJSON('?format=json', function(response) {

            // parse data
            var calls = $.map(response.data, function (value) {
                return {x: value.date, y: value.calls};
            });

            // remove last element (today)
            calls = calls.reverse().splice(1).reverse();

            // render graph
            var canvas = $("#statsChart");
            var statsChart = new Chart(canvas, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Calls',
                        data: calls,
                        borderWidth: 1,
                        borderColor: '#008000',
                        backgroundColor: '#ddeddc',
                        pointBackgroundColor: '#008000',
                        pointRadius: 0,
                        lineTension: 0
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            type: 'time'
                        }],
                        yAxes: [{
                            ticks: {
                                callback: function(tickValue, index, ticks) {
                                    
                                    return tickValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                                    
                                  }
                            }
                        }]
                    }
                }
            });

            $('#statsChartLoading').hide();
        });
    });
    </script>
</head>
<body lang="en">

    <div class="container">

        <header>
            <h1><a href="./">Transport</a></h1>
            <p>Swiss public transport API</p>
        </header>

        <article>
            <h2>Statistics</h2>
            <div class="row">
                <div class="col-sm-4">
                    <p>
                        Total calls<br/>
                        <span class="lead">{{ total | number_format(0, ".", "'") }}</span>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        Average calls per day<br/>
                        <span class="lead">{{ avg | number_format(0, ".", "'") }}</span>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        Max calls for one day<br/>
                        <span class="lead">{{ max | number_format(0, ".", "'") }}</span>
                    </p>
                </div>
            </div>

            <br/>

            <div style="position: relative;">
                <canvas id="statsChart" width="800" height="200" style="width: 100%;"></canvas>
                <div id="statsChartLoading" style="position: absolute; top: 50%; width: 100%;" class="text-muted text-center lead">
                    Loading chart <span id="statsChartLoadingCount">...</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h2 title="Top 5 since 10. Aug. 2012">Resources</h2>
                    <ul class="list-unstyled">
                        {% for resource in resources %}
                        <li><span class="value">{{ resource.path }}</span> <span class="text-disabled">{{ resource.calls | number_format(0, ".", "'") }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2 title="Top 5 since 10. Aug. 2012">Stations</h2>
                    <ul class="list-unstyled">
                        {% for station in stations %}
                        <li title="{{ station.y }}, {{ station.x }}"><span class="value">{{ station.name }}</span> <span class="text-disabled">{{ station.calls | number_format(0, ".", "'") }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2 title="Top 5 since 22. November 2015">Errors</h2>
                    <ul class="list-unstyled">
                        {% for error in errors %}
                            <li><span class="value">{{ error.exception }}</span> <span class="text-disabled">{{ error.calls | number_format(0, ".", "'") }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </article>

        <footer class="footer">
            <hr>
            <p>Powered by <a href="http://opendata.ch/">Opendata.ch.</a> <a href="https://donate.raisenow.io/bxqvn" target="_blank">Donate now to support open data in Switzerland.</p>
            <p>Thanks to <a href="https://nine.ch" target="_blank">nine</a> for donating the server.</p>
        </footer>

    </div>

</body>
</html>
