<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Transport API - Statistics</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="media/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="media/css/layout.css" />

    <script src="media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="media/js/dygraph-combined.js"></script>

    <script type="text/javascript">
    $(function () {
        var g = new Dygraph(document.getElementById("graphdiv"), "Date,API calls,Errors\n" + "{{ data }}", {
            width: 595,
            fillGraph: true,
            includeZero: true,
            colors: ['#008000', '#800000'],
            yAxisLabelWidth: 45,
            axisLabelFontSize: 13,
            drawPoints: true,
            pointSize: 1.5,
            labelsDiv: document.getElementById("labels"),
            axes: {
                x: {
                    valueFormatter: function(ms) {
                        return new Date(ms).strftime('%Y-%m-%d');
                    },
                    axisLabelFormatter: function(d) {
                        return d.strftime('%e. %b');
                    },
                    pixelsPerLabel: 100,
                }
            }
        });
    });
    </script>
</head>
<body lang="en">

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <header>
                <h1><a href="./">Transport</a></h1>
                <p>Swiss public transport API</p>
            </header>

            <article>
                <h2>Statistics <small id="labels"></small></h2>
                <div id="graphdiv"></div>

                <div class="row">
                    <div class="col-sm-6">
                        <h2 title="Top 5 since 10. Aug. 2012">Resources</h2>
                        <ul class="list-unstyled">
                            {% for resource in resources %}
                            <li><span class="value">{{ resource.path }}</span> <span class="text-disabled">{{ resource.calls }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h2 title="Top 5 since 10. Aug. 2012">Stations</h2>
                        <ul class="list-unstyled">
                            {% for station in stations %}
                            <li title="{{ station.y }}, {{ station.x }}"><span class="value">{{ station.name }}</span> <span class="text-disabled">{{ station.calls }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <h2 title="Top 5 since 22. November 2015">Errors</h2>
                <ul class="list-unstyled">
                    {% for error in errors %}
                        <li><span class="value">{{ error.exception }}</span> <span class="text-disabled">{{ error.calls }}</span></li>
                    {% endfor %}
                </ul>
            </article>

            <footer class="footer">
                <hr>
                <p>Powered by <a href="http://opendata.ch/">Opendata.ch</a></p>
            </footer>
        </div>
    </div>

</body>
</html>
